{% load static %}



<!DOCTYPE html>
<html>
<head>
	<!--Daryl Duckmanton is the owner-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Chat</title>
	<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
	<script src='https://cdn.jsdelivr.net/npm/socket.io-client@2.2.0/dist/socket.io.js'></script>
  <script src='https://socketio-server.codeisamazing.repl.co'></script>
	<!-- <script src="http://chat555-script.codeisamazing.repl.co"></script> -->
</head>

<body>
	<!-- {{ password }} -->
	<div id="chat-container">
		<div id="search-container">
			<input type="text" placeholder="search" />
      </div>
      <div id="conversation-list">
				
        <!--<button style="background-color: #0048AA;" width="100%">-->
          <!--<a href="#William">-->
        <div class="conversation">
					<!-- <script>
				// function getChats() {
	// alert("wow");
	try {
		// document.write("wow");
		// document.getElementById("test").innerHTML = "wow";
		var chats1 = "{{ chats }}";
		var created_date1 = "{{ created_date }}";
		var invites1 = "{{ invites }}";
		var d_split = created_date1.split("spliter234;");
		var i_split = invites1.split("spliter234;");
		var c_all = "";
		var csplit = chats1.split("spliter234;");
		for (i = 0; i < csplit.length; i++) {
			length = "<br>" + `<div class="column" onclick="openTab('b1');">
               <div class="title-text"><p></p></div><div class="created-date"><p></p></div><div class="conversation-message"><p></p><hr></div></div>`
  		c_all = c_all + "<br>" + `<div class="column" onclick="openTab('b1');">
               <div class="title-text"><p>` + csplit[i] + `</p></div><div class="created-date"><p>` + d_split[i] + `</p></div><div class="conversation-message"><p>` + i_split[i] + `</p><hr></div></div>`;
			c_edit = c_all.substr(0, c_all.length - length.length);
		}
		document.write(c_edit);
		// document.write("wow");
	}
						
	catch(err) {
  document.write(err.message);
	}

</script> -->
{% if chats %}
{% for i in chats %}
<div class="column" onclick="sub()">
               <div class="title-text">
            <p>{{ i.chat_name }}</p>
          </div>
          <div class="created-date">
            <p>{{ i.chat_date_created }}</p>
          </div>
          <div class="conversatiuon-message">
            <p>{{ i.chat_users }}</p>
            <hr>
          </div>
        </div>
<!-- {{ i.chat_name }} -->
<script>
	function sub() {
		location.replace('{% url "chats_view" i.location_url %}')
	}
</script>
{% endfor %}
{% else %}
<p><center><i>You don't have any chats yet.</i></center></p>
{% endif %}

          <!--<img src="trash.png" width="20px" height="20px" alt="William Ferreira" />-->
					<!-- Chats -->
					<!-- { if chat_number != 0 }
			{ for x in range() }
			<div class="alert alert-{{ message.tags }}">
				{ message }
			</div>
			{ endfor } -->

					<!-- <div id="test"></div> -->
					<!-- <script>
						try {
							// document.write("wow");
							// document.getElementById("test").innerHTML = "wow";
							var chats1 = "{{ chats }}";
							var c_all = "";
							var csplit = chats1.split("spliter234;");
							for (i = 0; i < csplit.length; i++) {
  						c_all = c_all + "<br>" + csplit[i];
							}
							document.getElementById("test").innerHTML = c_all;
							// document.write("wow");
						}
						
						catch(err) {
  						document.write(err.message);
						}
					</script> -->
					<!-- <i>{{ chats }}</i> -->
					
					<!-- { endif } -->

					{% if chat_number == 0 %}
						<!-- <p><center><i>You don't have any chats yet.</i></center></p> -->
					{% endif %}
					<!-- <div class="column" onclick="openTab('b1');">
               <div class="title-text">
            <p>William Ferreira</p>
          </div>
          <div class="created-date">
            <p>Apr 16</p>
          </div>
          <div class="conversation-message">
            <p>William, Alex, Dad</p>
            <hr>
          </div>
        </div>
             <div class="column" onclick="openTab('b2');">
               <div class="title-text">
            <p>William Ferreira</p>
          </div>
          <div class="created-date">
            <p>Apr 31</p>
          </div>
          <div class="conversation-message">
            <p>William, Mom, Nana</p>
          </div>
          <hr>
        </div>
             <div class="column" onclick="openTab('b3');">
               <div class="title-text">
            <p>William Ferreira</p>
          </div>
          <div class="created-date">
            <p>Mar 1</p>
          </div>
          <div class="conversation-message">
            <p>William, Grandpa, Grandma</p>
            <hr>
          </div> 
        </div> -->
        </div>
        <!--</a>-->
      </div>
      <div id="new-message-container">
        <a href="/newchat">+</a>
      </div>
      <div id="chat-title">
        <span id="name"></span>
        <button><span><img src="trash.png" width="50px" height="50px" /></span></button>
      </div>
      <div id="chat-message-list">
        <div id="b1" class="containerTab" style="display:none;" onunload="save1">
  <h2 style="text-align: center;">William Ferreia<hr></h2>

</div>

<div id="b2" class="containerTab" style="display:none;">
  <h2 style="text-align: center;">William Ferreia<hr></h2>
   
</div>

<div id="b3" class="containerTab" style="display:none;">
	
  <h2 style="text-align: center;">William Ferreia<hr></h2>
	<div readonly data-post rows=8 id="messageareabox"></div>
	<div id="messageareabox2"></div>
		<!--<input id="input043" size=60 data-post oninput="checkInput(event)" onkeypress="if(event.key == 'Enter') post()" type="text">
		<button disabled data-post onclick="post()">Post</button>-->
</div>
      </div>
      <div id="chat-form">
        <img src="attach.png" width="20px" height="20px" />
        <input oninput="checkInput(event)" onkeypress="if(event.key == 'Enter') post()" type="text" id="myInput" placeholder="type a message" autocomplete="off" post/>
        <button id="myBtn" onclick="mess()" hidden>
      </div>
    </div>
    <!--stuff---------------------------------------------->
		<script src="{% static 'js/index.js' %}"></script>
</body>
</html>





