.controls {
	height: 5%;
	background-color: #00019f;
	text-align: right;
	padding-right: 10px;
	display: flex;
}

.controls > .new-chat-plus {
	background-color: white;
	border-radius: 100%;
	text-align: center;
	width: 30px;
	font-size: 25px;
	margin: auto;
	margin-right: 0px;
	cursor: pointer;
}
